body {
   background-image: url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
   font-family: 'Roboto', sans-serif;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 460px;
  margin: auto;
  text-align: center;
  font-family:'Roboto', sans-serif;
  border-radius: 5px;
  padding: 10px; 
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
}

.title {
  color: grey;
  font-size: 18px;
}



.btn-group .button {
  background-color: #ED2553; 
  border: 1px solid #DC1240;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  float: left;
  width: 33.3333%;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #DC1240;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}